<div class="container">
    <div class="row">
        <div class="contact-list col-sm-5 col-xs-5">
          <form class="search-input">
            <input type="text" class="search" placeholder="Search All Contacts"></form>
            <ul class="list-of-contacts"></ul>
          </form>
        </div>
        <div class="contact-info col-sm-7 col-xs-7">
          <div class="row">
            <div class="col-md-12" align="center">
              <div class="contact-info-details">
              </div>
              <div class="contact-add-container">
              <form id="add-contact">
                <input type="text" class="firstname" placeholder="First Name" /><br/>
                <input type="text" class="lastname" placeholder="Last Name" /><br/>
                <input type="text" class="phonenumber" placeholder="Phone Number" /><br/>
                <input type="text" class="emailaddress" placeholder="Email Address"/><br/><br/>
                <input class="add-contact-submit" type="submit" value="Submit" />
              </form>
            </div>
          </div>
        </div>
    </div>
</div>
<div class="add-new-contact"><a class="add-new" href="#">+</a></div>